
@{
  Layout = "_Layout";
}

<div style="background:transparent !important" class="jumbotron">
    <h1>University Registrar</h1>
    <p class="lead">Coding Fundamentals: A resource site for students to learn a variety of computer science subjects. (Job boards coming soon)</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>For Students</h2>
        <p>
            University Registrar immerses students in a hands-on curriculum that prepares them for the workforce of the future. As students gain skills in coding, design and collaboration, they become better thinkers and innovators.
        </p>
        <button style="background:transparent !important">@Html.ActionLink("Sign Up", "Index", "Students", null, new { style = "color: Black;"})</button>
    </div>
    <div class="col-md-4">
        <h2>Courses Offered</h2>
        <ul>
          <li>Algorithms</li>
          <li>Computer Architecture</li>
          <li>Artificial Intelligence</li>
          <li>Data Logic</li>
        </ul>
        <button style="background:transparent !important">@Html.ActionLink("Browse Courses", "Index", "Courses", null, new { style = "color: Black;"})</button>
    </div>
    <div class="col-md-4">
        <h2>Why Learn How To Code</h2>
          <ul>
            <li>New Career Opportunities</li>
            <li>Enhance Problem-Solving And Logic Skills</li>
            <li>You Will Become A Team Leader</li>
            <li>New Understanding Of The Tech Community</li>
          </ul>
    </div>
</div>
@* <p>@Html.ActionLink("See All Courses", "Index", "Courses")</p> *@
@* <p>@Html.ActionLink("See All Students", "Index", "Students")</p> *@