
@{
  Layout = "_Layout";
}

<div style="background:transparent !important" class="jumbotron">
    <h1>University Registrar</h1>
    <p class="lead">Coding Fundamentals: A site for students to learn how to code depending on their preference of programming language.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>For Students</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <button style="background:transparent !important">@Html.ActionLink("Sign Up", "Index", "Students", null, new { style = "color: Black;"})</button>
    </div>
    <div class="col-md-4">
        <h2>Courses Offered</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <button style="background:transparent !important">@Html.ActionLink("Browse Courses", "Index", "Courses", null, new { style = "color: Black;"})</button>
    </div>
    <div class="col-md-4">
        <h2>Why Learn How To Code</h2>
          <ul>
            <li>New Career Opportunities</li>
            <li>Enhance Problem-Solving And Logic Skills</li>
            <li>You Will Become A Team Leader</li>
            <li>New Understanding Of The Tech Community</li>
          </ul>
    </div>
</div>
@* <p>@Html.ActionLink("See All Courses", "Index", "Courses")</p> *@
@* <p>@Html.ActionLink("See All Students", "Index", "Students")</p> *@